<!DOCTYPE html>
<html>
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Spam Classifier </title>

    </head>

<body>
    <header>
        <div class = 'container'>
            <div>
                Machine Learning App With Flask
            </div>
            <h2>Spam Detector For SMS Messages</h2>
        </div>
    </header>
    <div>
        <form action="predict" method="POST">
        <p>Enter Your Message Here</p>
            <textarea name = 'message' rows = '4' cols = '50'></textarea>
            <br/>
            
        <input type = 'submit' value = 'predict'>
        </form>
    </div>
</body>
</html>
